body{ 
    margin: 0; /*To remove any gaps especially with the menu*/
    background-color: #EEF1DA;
    color: #2c3154; 
    font-family:cursive; 
} 

h1{
    color: #2c3154;
    text-shadow: 1px 2px  #ADB2D4, 2px 4px#C7D9DD, 4px 8px #D5E5D5;
    font-size: 45px;
} /*Stylise the header to emphasize using the colour palette used in the webpage as text shadows*/

#menu{
    list-style-type: none ;
    margin: 0;
    padding:0;
    padding-top: 5%;
    width: 200px;
    background-color: #D5E5D5;
    height: 100%;
    position: fixed;
    overflow: auto;
    box-shadow: 4px 0px 4px#d0e2d0;
} /*Menu styling to place vertically in the webpage*/

li a {
    display: block;
    color: #2c3154;
    padding: 20px 16px;
    text-decoration: none;
    border-bottom: 1px solid #ADB2D4;
}  /*Link styling, add aproppriate spacing between each navigation on top of each other 
and add a bottom border to display separation between links*/

li a.active {
    background-color: #ADB2D4;
    color: white;
}/*Active webpage has a light blue background with white font color*/
  
li a:hover:not(.active) {
    background-color: #C7D9DD;
    color: white;
}/*Non-active links when hovered will show a very light blue color and white font*/

header{
    margin-left:15%;
    padding:16px;
    text-align: center;
    margin-bottom: 2%;
}/*Header has margin and padding from the menu and bottom margin with the main content and is center aligned*/

main{
    margin-left:15%;
    padding:1px 16px;
    display: flex;
}/*Main content has margin and padding from the menu, flex the main contents to put them in a horizontal manner*/

.introduction{
    background-color:#C7D9DD;
    box-shadow: 4px 4px #ADB2D4;
    width: 70%;
    margin-left: 13%;
    border-radius: 40px;
    padding: 15px;
    padding-left: 1px;
    text-align: center;
    font-size: 18px;
}/*Introduction styling*/

column{
    float: left;
    width: 50%;
}/*Column the webpage into two*/

#todayreminder{
    background-color: #C7D9DD;
    height: 260px;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px #ADB2D4;
}

#remind{
    background-color: #EEF1DA;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    height: 70%;
}

#remind td{
    border-bottom: 1px solid #ADB2D4;
}/*Bottom border to separate each reminder*/

.container {
    position: relative;
    padding-left: 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}  

.container:hover input ~ .checkmark {
    background-color: #C7D9DD;
}/*Mouse hover on radio button and blue color appears*/
  
.checkmark{
    position:absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #D5E5D5;
    border-radius: 50%;
    box-shadow: 1px 2px #C7D9DD;
}/*Positioning of the radio button with the text*/

.container input:checked ~ .checkmark {
    background-color: #ADB2D4;
}/* When the radio button is clicked, add a blue background */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.weeklyplan{
    background-color: #C7D9DD;
    border-radius: 20px;
    height: 90%;
    width: 84%;
    padding: 20px;
    padding-left: 20px;
    box-shadow: 4px 4px #ADB2D4;
}/*Adjust the size, background color and box shadow of the container to fit the theme of the webpage*/

#week{
    background-color: #EEF1DA;
    border-radius: 20px;
    border-collapse: collapse;
} /*The days of the week background colour, rounding the corners and to make a single border to separate the days of the week*/

#week th{
    border: 1px solid #C7D9DD;
    vertical-align: top;
    height: 130px;
    width: 140px;
} /*Utilise the space of the days of the week on the weeklyplan containte by increasing the space of the cells 
so that it means weekly reminders are to be displayed in the cells*/

footer{
    bottom:0;
    position: fixed;
    background-color: #D5E5D5;
    width: 100%;
    padding: 2px;
    color:#ADB2D4;
    text-align: right;
} /*Style the footer to fit the theme and align the text to the right*/