.nav ul{
    list-style: none;
    text-align: center;
    background-color: #A91D3A;
    box-shadow: 0px 8px 10px darkred;
    margin: 0;
    padding: 0;
} /*This is to create the background of the navigation bar*/

.nav li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
} /* Edit navigation links to display in the center */
  
.nav a:hover {
    text-shadow: 0 2px 5px #00000071, 0 2px 6px #a91d3915;
} /*When mouse hovers over a link on the navigation bar, there is a black shadow to emphasise the link*/
  
.nav a{
    text-decoration:none;
    color: #1D1616;
    display: block;
    padding: 10px;
    font-size: 17px;
} /*These properties design the font of the navigation links*/
  
.button {
    background-color: #1D1616;
    color: #A91D3A;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 18px;
    margin: 60px 42% 5%;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 darkred, 0 2px 5px 0 darkred;
} /*Edit the button below the Header adjusting padding and margin to utilize space */
  
.button:hover {
    box-shadow: 0 2px 20px 0 #A91D3A, 0 2px 20px 0 #A91D3A;
} /* When mouse hovers the button a shadow is displayed*/
  
  
body {
    background-color: #1D1616;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0px 0px 20px;
} /* For the general font family, background color and overall padding*/
  
h1 {
    text-shadow: 0px 0px 10px darkred, 1px 1px 5px rgb(255, 34, 0);
    font-size: 80px;
    color: #A91D3A;
    text-align: center;
    margin-top: 12%;
    padding: 5px;
} /*Increase the font size of the first header and style to create a grand home page*/

h2 {
    text-align: center;
    text-shadow: 0px 1px 3px rgb(255, 34, 0);
    color: #A91D3A;
    margin-top: 5%;
    font-size: 40px;
} /* Edit heading to emphasize */ 

p, ul{
    color: #A91D3A;
    text-align: justify;
    padding: 10px 90px 5px;
    line-height: 2;
} /*Paragraph and unordered links have the same line height, font color and padding*/

p {
    font-size: 17px;
    text-align: center;
} /* Create a separate paragraph property to change the font size of the paragraph*/
  
a {
    text-decoration: none;
    line-height: 2;
} /*Line height for links in the webpage*/
  
a:hover {
    text-shadow: 0 2px 5px #A91D3A, 0 2px 5px #A91D3A;
    text-decoration: underline;
} /*For general links when mouse hovers an underline is shown*/

.review{
    background-color: #1D1616;
    text-align: justify;
    color: #A91D3A;
    margin: 20px 70px;
    padding: 20px 30px;
    line-height: 2;
    border-radius: 20px;
    box-shadow: inset 0 0 10px darkred;
    font-size: 17px;
} /* When assigned to a review, this allows to separate one from other reviews using a styled container */

.review a{
    color: #A91D3A;
    text-decoration: underline;
} /*Review link is shown to have an underline*/

.character {
    text-align: justify;
    color: #A91D3A;
    margin: 20px 100px;
    padding: 15px 5px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px darkred;
    font-size: 17px;
} /*Create a box for character list and adjust padding around the text then enlarge font-size to create consistency throughout the website*/
  
a:active {
    color: white;
} /* When the link is clicked the font turns white before directing to the linked page*/
  
.footer{
    margin-top: 100px;
    color: #A91D3A;
    bottom:0;
    position: fixed;
} /*Edit the footer to stay the bottom of the page*/
  