div {
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    margin: 25px;
    border: 4px solid black;
    line-height: 100px;
    text-align: center;
    width: 200px;
    height: 200px;
}
  
body {
    margin: 100px auto;
    width: max-content;
}

#A{
    border-color: rgb(176, 2, 251);
    box-shadow: 10px 10px 12px red;
} /*Change the border color and set the box shadow right 10px then down 10px and blur the box shadow with 12px*/

#B{
    border-color: rgb(0, 255, 0);
    box-shadow: 10px 10px 12px black inset;
} /*Set the box shadow to inset to create an inner shadow*/

#C {
    border-color: rgb(255, 166, 1);
    border-radius:20px;
    box-shadow: 1px 1px 0px 10px blue, 1px 1px 0px 20px red, 1px 1px 0px 30px green;
} /*Set the radius to 20px then create a box shadows that increases in size on the 4th value with different colors and without blur*/

#D {
    border-color: brown;
    text-shadow: 5px 5px 1px black;
} /*Text shadow can be made with 3 values, 1st moves left starts from 1px to right, 2nd moves up starts from 1px to down, then the blur opacity starts from 1px*/ 