body{
    background-color: rgb(255, 255, 255);
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    color: #A5668B;
}/*The webpage background is full white and the overall font family is Faculty Glyphic*/

h1{
    text-align: center;
    color: #A5668B;
    text-shadow: 1px 1px 1px  #A5668B;
}/*Align the heading to the center with color and text shadow*/

p{
    font-size: 15px;
}/*Increase the font size of the paragpraph*/

.container{
    background-color:#f2d7ee;
    box-shadow: 0px 3px 2px #d3bcc0;
    padding: 30px;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}/*Apply color to the container and center it in the middle of the webpage*/

input{
    padding: 10px;
    border-radius: 10px;
    border: 0;
}/*Remove the border to the input areas, round the edges and increase padding */

button{
    padding: 11px;
    border-radius: 15px;
    background-color: #69306D;
    color:#F2D7EE;
    border: 0;
}/*Remove border, round the edges and add color to the background and the font*/

button:hover{
    box-shadow: #A5668B 2px 5px 5px;
}/*When mouse hover over button a shadow will appear*/

td{
    padding:5px;
    text-align: center;
} /*Increase padding for the table data by 5px and center align the values*/
